<div>
  <div>
    <h3>Subir Archivos</h3>
  </div>

  <div>
    <form></form>
  </div>
</div>

<form>
  <div>
    <div class="flex align-items-center m-b-10">
      <div class="fc-gray w-150px">Tipo de Archivo:</div>
      <mat-form-field appearance="legacy">
        <mat-select>
          <mat-option value="one">Clase</mat-option>
          <mat-option value="two">Examen Parcial/Final</mat-option>
          <mat-option value="two">Practica Calificada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex align-items-center m-b-10">
      <div class="fc-gray w-150px">Nombre:</div>
      <mat-form-field class="w-100percent" appearance="legacy">
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <!-- <mat-form-field appearance="outline" class="right-field">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Titulo" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="left-field">
    <mat-label>Semestre</mat-label>
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline" class="right-field">
    <mat-label>Escuela</mat-label>
  </mat-form-field>

  <mat-form-field appearance="outline" class="left-field">
    <mat-label>Plan</mat-label>
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline" class="right-field">
    <mat-label>Ciclo</mat-label>
  </mat-form-field>

  <mat-form-field appearance="outline" class="left-field">
    <mat-label>Curso</mat-label>
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline" class="central-field">
    <mat-label>Descripcion</mat-label>
    <input matInput placeholder="Descripcion" />
  </mat-form-field> -->
</form>
