<div
  class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
>
<div class="p-10">
  Buscar
</div>
  <mat-form-field
    class="w-100percent f-20"
    appearance="legacy"
    floatLabel="never"
  >
    <input
      matInput
      type="text"
      name="search"
      id="search"
      autofill="off"
      autoComplete="off"
      [(ngModel)]="searchText"
    />

    <button
   
      *ngIf="searchText"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchText = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div
  matRipple
    class="border-left cursor-pointer p-10 flex align-items-center justify-content-center"
    (click)="search()"
  >
    <mat-icon>search</mat-icon>
  </div>
</div>
