@import "styles.color.scss";

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-30 {
    border-radius: 30px;
}

.border-radius-15 {
    border-radius: 15px !important;
    border-radius: 10px;
    overflow: hidden;
}

.box-shadow-none {
    --box-shadow: none !important;
}

.border-bottom-black {
    border-bottom: solid 1px #1e2023;
}

.border-gray {
    border: solid 1px #dfdfdf;
}

.border-primary {
    border: solid 1px $primary__color;
}

.border-black {
    border: solid 1px #000000;
}

.border-top-left-radius-50px {
    border-top-left-radius: 50px;
}

.border-top-radius-15px {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.border-bottom-radius-15px {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.border-left {
    border-left: solid 4px $primary__color;
}

.border-circle {
    border-radius: 50%;
}

.box-shadow-bottom {
    -webkit-box-shadow: 0px 1px 2px 0px #1e202352;
    -moz-box-shadow: 0px 1px 2px 0px #1e202352;
    box-shadow: 0px 1px 2px 0px #1e202352;
}

.border-right-primary:hover {
    border-right: solid 2px $primary__color;
}

.border-right-primary-set {
    border-right: solid 2px $primary__color;
}