<div class="overflow-y height-70vh p-r-10 p-t-5 p-l-10">
    <div class="flex position-relative w-100percent box-shadow-light-hover m-b-10" *ngFor="let file of files">
        <div class="w-150px flex align-items-center justify-content-center bg-gray">
            <img class="w-100percent" [src]="'./assets/icons/' + file.type + '.png'" />
        </div>
        <div class="w-100percent p-15">
            <div class="f-16">{{ file.name }}</div>

            <div class="fc-gray">{{ file.description }}</div>
            <!--
            <div class="fc-gray m-t-10">{{ file.semester }}</div>
            <div class="fc-gray">{{ file.semester }}</div>
            -->
            <div class="m-t-10">
                <label class="bg-primary p-l-10 p-r-10 p-t-5 p-b-5 border-radius-15 fc-white">
          {{ file.coursePlan.cycle  }}
        </label>
            </div>

            <div class="width-fit-content flex-float-right flex">
                <div matRipple matTooltip="Vista previa" class="flex align-items-center justify-content-center p-5 border-circle w-40px h-40px m-l-5 m-r-5 cursor-pointer">
                    <mat-icon>remove_red_eye</mat-icon>
                </div>

                <div matRipple matTooltip="Descargar archivo" class="flex align-items-center justify-content-center p-5 border-circle w-40px h-40px m-l-5 cursor-pointer">
                    <mat-icon> vertical_align_bottom</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>