<form>
  <div>
    <div class="m-t-10">
      <div class="fc-gray">Información Básica</div>
      <mat-divider></mat-divider>
      <div class="flex align-items-center m-b-10">
        <div class="fc-gray w-150px">Tipo de Archivo:</div>
        <div
          class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
        >
          <mat-form-field appearance="legacy">
            <mat-select>
              <mat-option value="one">Clase</mat-option>
              <mat-option value="two">Examen Parcial/Final</mat-option>
              <mat-option value="two">Practica Calificada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="flex align-items-center m-b-10">
        <div class="fc-gray w-150px">Nombre:</div>
        <div
          class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus w-100percent"
        >
          <mat-form-field class="w-100percent" appearance="legacy">
            <input matInput />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div>
      <div class="fc-gray">Información Académica</div>
      <mat-divider></mat-divider>
      <div class="flex align-items-center m-b-10">
        <div class="fc-gray w-150px">Escuela Profesional:</div>
        <div
          class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
        >
          <mat-form-field appearance="legacy">
            <mat-select>
              <mat-option value="one">Ingeniería de Sistemas</mat-option>
              <mat-option value="two">Ingeniería de Software</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="flex align-items-center m-b-10">
        <div class="fc-gray w-150px">Plan de Estudio:</div>
        <div
          class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
        >
          <mat-form-field appearance="legacy">
            <mat-select>
              <mat-option value="one">2015</mat-option>
              <mat-option value="two">2018</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="flex align-items-center m-b-10">
        <div class="fc-gray w-150px">Curso/Asignatura:</div>
        <div
          class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
        >
          <mat-form-field appearance="legacy">
            <mat-select>
              <mat-option value="one">Matemática Básica I</mat-option>
              <mat-option value="two">Algoritmia I</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <div class="fc-gray">Periodo de Tiempo</div>
        <mat-divider></mat-divider>
        <div class="flex align-items-center m-b-10">
          <div class="fc-gray w-150px">Semestre Académico:</div>
          <div
            class="flex align-items-center bg-gray m-t-10 m-b-10 box-shadow-light-focus"
          >
            <mat-form-field appearance="legacy">
              <mat-select>
                <mat-option value="one">2020-1</mat-option>
                <mat-option value="two">2020-2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button class="w-100percent" mat-raised-button color="primary">
        Subir
      </button>
    </div>
  </div>
</form>
